body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
}

.logo {
    font-weight: bold;
}

header {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    color: white;
    padding-left: 15rem;
    padding-right: 15rem;
}

header ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 1rem;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

header a:hover {
    text-decoration: underline;
}

.banner {
    height: 30rem;
    background-color: #1F2937;
    padding-left: 15rem;
    padding-right: 15rem;
    color: white;
    display: flex;
    align-items: center;
}

.placeholder {
    background-color: grey;
    height: 10rem;
}

.placeholder p {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin: 0;
}